{% extends 'base.html' %}
{% block content %}
<h1>🛒 Tu carrito artesanal</h1>

{% if items %}
  <section class="carrito-lista">
    {% for item in items %}
    <div class="item-carrito">
      <h3>{{ item.producto.nombre }}</h3>
      {% if item.producto.descripcion %}
        <p>{{ item.producto.descripcion }}</p>
      {% endif %}
      <p>Precio unitario: ${{ item.producto.precio }}</p>
      <p>Cantidad: {{ item.cantidad }}</p>
      <p>Subtotal: ${{ item.subtotal|floatformat:2 }}</p>

      <form method="POST" action="{% url 'eliminar_del_carrito' 'productos' item.model_name item.producto.id %}">
        {% csrf_token %}
        <button type="submit" class="btn-eliminar">Eliminar</button>
      </form>

    </div>

      
    {% endfor %}
    <div class="carrito-total">
      <h2>Total: ${{ total|floatformat:2 }}</h2>
    </div>
  </section>
{% else %}
  <p>Tu carrito está vacío 💨 ¡Agrega algo delicioso!</p>
{% endif %}
{% endblock %}
